@using Microsoft.AspNetCore.Components.Web
@namespace ERM.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ERM.styles.css" rel="stylesheet" />
    
    <!-- Radzen Theme CSS link with ID for dynamic toggling -->
    <link id="theme-css" rel="stylesheet" href="_content/Radzen.Blazor/css/standard.css">
    
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    
    <!-- BlazorMonaco Scripts -->
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script>require.config({ paths: { 'vs': '_content/BlazorMonaco/lib/monaco-editor/min/vs' } });</script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>

    <script>
        window.downloadFileFromBytes = function (fileName, contentType, base64) {
            var byteCharacters = atob(base64);
            var byteNumbers = new Array(byteCharacters.length);
            for (var i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            var byteArray = new Uint8Array(byteNumbers);
            var blob = new Blob([byteArray], { type: contentType });
            var url = URL.createObjectURL(blob);
            var anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName;
            anchorElement.click();
            URL.revokeObjectURL(url);
        };
        
        window.setTheme = function(themeName) {
            document.getElementById('theme-css').href = '_content/Radzen.Blazor/css/' + themeName + '.css';
        };
    </script>
</body>
</html>